.Logos h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
}

.Logos{
    padding: 80px 20px;
}
.brand_logo{
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}
.brand_logo img{
    object-fit: contain;
    /* width: auto; */
}
.logo_box{
    padding: 30px;
}
@media only screen and (max-width: 768px) {
    .Logos{
        padding: 40px 20px;
    }
    .logo_box{
        padding: 20px;
    }
}